---
layout: featured
title: Mondo Scuola
icon: /assets/img/icons/mondoscuolablu.svg
#image: /assets/img/services/scuolawebinar.png
classecss: scuola
description: Corsi riconosciuti dal MIUR
---
<div class="container">
    <div class="section-title">
        <h2>Mondo Scuola</h2>
    </div>
    <div class="row pt-4">
        <div class="col-lg-12">
<img src="/assets/img/services/scuolawebinar.png" class="img-fluid" style="width:40%" alt="scuolawebinar">
<p></p>
<p><h4><a href="https://www.scuolawebinar.it">Scuolawebinar.it</a> </h4></p>
<p>è un prodotto della SINTAB srl, ente accreditato dal MIUR per la formazione del personale della scuola ai sensi della Direttiva Ministeriale 170/2016.</p>
<ul class="it-list">
    <li>
        <div class="it-right-zone pt-2"><span class="text">La nostra piattaforma per la formazione in modalità webinar e online</span>
        </div>
    </li>
    <li>
        <div class="it-right-zone pt-2"><span class="text">I migliori corsi di formazione, accreditati sulla piattaforma SOFIA del Miur, per docenti di ogni disciplina e ogni ordine e grado con i migliori formatori</span>
        </div>
    </li>
    <li>
        <div class="it-right-zone pt-2"><span class="text">Acquisisci ulteriori punteggi nelle graduatorie GPS Docenti a ATA con i nostri corsi</span>
        </div>
    </li>
    <li>
        <div class="it-right-zone pt-2"><span class="text">Ottieni le migliori certificazioni informatiche e linguistiche</span>
        </div>
    </li>
    <li>
        <div class="it-right-zone pt-2"><span class="text">Frequenta i nostri corsi di formazione per la Didattica a Distanza e DDI con G Suite e con Microsoft Teams, scegli tra livelli base e livelli avanzati</span>
        </div>
    </li>
    <li>
        <div class="it-right-zone pt-2"><span class="text">Puoi partecipare in diretta o guardare le registrazioni dei tuoi webinar preferiti</span>
        </div>
    </li>
    <li>
        <div class="it-right-zone pt-2"><span class="text">Puoi gestire la tua formazione in totale autonomia, con il materiale che trovi nella tua Area Riservata h24 e per sempre. Il materiale infatti resta a tua disposizione per sempre.</span>
        </div>
    </li>
    <li>
        <div class="it-right-zone pt-2"><span class="text">Ottieni l'attestato o la certificazione direttamente nella tua Area RIservata, senza tempi di attesa o costi aggiuntivi.</span>
        </div>
    </li>
    <li>
        <div class="it-right-zone pt-2"><span class="text">L’assistenza dei nostri esperti ti accompagnerà nel tempo</span>
        </div>
    </li>
</ul>
</div>
</div>
<div class="row pt-4">
    <div class="service-details col-xl-12">
        {% include call_to_action.html %}
    </div></div>


<div class="row pt-4">
    <div class="service-details mb-40">
<h3>Polo di studio E-campus</h3>
<p><b>Con Scuolawebinar porti a casa l'Università</b></p>
<p>La tua scelta sicura</p>
<p>eCampus è una scelta sicura perché è da sempre online: oltre 50.000 studenti si sono già iscritti.
Ha attivato 56 percorsi di laurea – tradizionali e innovativi – nelle facoltà di Psicologia, Ingegneria, Giurisprudenza, Economia e Lettere. Tutti i corsi di laurea sono ad accesso libero.</p>

<p>Studiare online ha tanti vantaggi</p>
<p>Con eCampus puoi seguire le lezioni e dare gli esami online direttamente da casa dal tuo computer o dallo smartphone tramite l’app mobile. Hai a disposizione un’assistenza online per tutto il tuo percorso universitario e un Ambiente Virtuale d’Apprendimento (VLE) che integra tutte le funzioni che il web rende disponibili.</p>

<p>Hai un’opportunità in più</p>
<p>Il prossimo anno potrai decidere se continuare a studiare online o trasferirti in un altro ateneo, in base ai tuoi progetti e con la massima libertà.</p>

<p>Possibilità di Tutor personale</p>
<p>Su richiesta, puoi usufruire anche dell’assistenza di un tutor personale, concreto punto di riferimento in tutte le fasi di studio. Se sei interessato a questo servizio seleziona “Personale” nel campo apposito del form di richiesta informazioni.</p>

<p>All’Università eCampus</p>
<p>Lezioni online da casa attraverso computer, tablet o smartphone
Un tutor online a tua disposizione per tutto il percorso universitario
Su richiesta un tutor personale vicino a te in tutte le fasi di studio
Live chat per contattare facilmente i docenti
App eCampus Club per restare sempre in contatto con gli altri studenti
Borsa di studio
Se ti sei diplomato nel 2020, puoi chiedere una borsa di studio a copertura parziale o totale della tasse universitarie.</p>

<p>Requisiti di ammissione</p>
<p>Per iscriversi a un qualunque corso di laurea è necessario essere in possesso del diploma di maturità o di un titolo di studio equipollente.</p>
</div>
</div>
</div>
<div class="container-fluid">
    <div class="row pt-4">
    <div class="service-details col-xl-12">{% include countdown-scuola.html %}</div>
    </div>
</div>





