<section class="about-area pb-70 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40"></div>
                <div class="section-title">
                    <h2>Chi Siamo</h2>
                </div>
                <div class="about-content">
                    <p>
                        Offriamo soluzioni innovative per l’organizzazione aziendale e la gestione della conoscenza.<br>
                        Crediamo che l’innovazione in azienda sia principalmente un fatto culturale e che uno dei fattori fondamentali per il successo sia legato alla comunicazione interna e ai sistemi di condivisione della conoscenza.<br>
                        Sintab è il partner ideale per professionisti, aziende e enti pubblici:<br>
                        per  la professionalizzazione delle risorse umane. La decennale esperienza nella formazione continua in azienda, l’accreditamento come soggetto formativo riconosciuto e l’impiego massivo delle nuove tecnologie ci hanno permesso di raggiungere livelli di eccellenza sia nella formazione tradizionale sia nelle nuove frontiere dell’e-learning: coursware, livestreaming e webinar permettono alle aziende notevoli risparmi in termini di tempo e costi, massimizzando contestualmente l’efficacia dell’intervento formativo.
                        per i servizi di supporto e consulenza: da sempre ci occupiamo di sistemi di gestione e consulenza in materia di sicurezza sul lavoro, qualità e ambiente, privacy, sicurezza alimentare, modelli organizzativi.
                        <br>
                        Offriamo inoltre formazione continua e innovativa per il personale della scuola.<br>
                        Crediamo che non bisogna mai smettere di imparare a trasmettere nel modo più efficace la Conoscenza. Consapevoli che la responsabilità di un educatore è grande e che l’arricchimento del bagaglio personale dei ragazzi amplia opportunità nella loro vita.
                        <br>
                        SINTAB opera su tutto il territorio nazionale, ha la sua sede principale a Sulmona (AQ) e sedi secondarie a Roma e a Macerata.
                        </p>
                </div>
            </div>
            <!--
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</section>