<section class="portfolio-cta grey-bg pt-50 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 mb-30">
                <div class="call-to-action">
                    <h3>Siamo pronti per il tuo prossimo progetto</h3>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="call-to-action">
                    <a href="/pages/contact.html" class="btn">Contattaci</a>
                </div>
            </div>
        </div>
    </div>
</section>