<section class="portfolio-cta grey-bg pt-50 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9 mb-30">
                <div class="call-to-action">
                    <h3>Consulta il nostro catalogo corsi</h3>
                   <!-- <p>Scarica il modello di richiesta</p>-->
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="call-to-action">
                    <a href="/assets/doc/presentazione_sintab.pdf" class="btn">download now</a>
                </div>
            </div>
        </div>
    </div>
</section>