<section class="portfoilo-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>Cosa Facciamo</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="portfolio-menu mb-55">
                    <button class="active" data-filter="*">all</button>
                    <button class="p-item" data-filter=".cat-one">Sicurezza</button>
                    <button class="p-item" data-filter=".cat-two">Organizzazione</button>
                    <button class="p-item" data-filter=".cat-three">Innovazione</button>
                    <button class="p-item" data-filter=".cat-four">Insegnanti</button>
                </div>
            </div>
        </div>
    <div class="row portfolio-active">

            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-one">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="../pages/servizi/sicurezza">Sicurezza</a></h5>
                        <span>sul Lavoro</span>
                    </div>
                </div>
            </div>  
        
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-two">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="#">Organizzazione</a></h5>
                        <span>Aziendale</span>
                    </div>
                </div>
            </div>  
        
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-three">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/3.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="/pages/servizi/innovazione">Innovazione</a></h5>
                        <span>tecnologica</span>
                    </div>
                </div>
            </div> 
        
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30 grid-item cat-four">
                <div class="portfolio-wrapper">
                    <div class="portfolio-thumb">
                        <img src="{{site.baseurl}}/assets/img/portfolio/scuola.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="portfolio-content">
                        <h5><a href="https://www.scuolawebinar.it">Mondo</a></h5>
                        <span>Scuola</span>
                    </div>
                </div>
            </div> 

        </div>
    </div>
</section>